<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762861489360-ct9ud47vl4uiv8dcsod2spjmn63lak0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762861489360-ct9ud47vl4uiv8dcsod2spjmn63lak0q</string>
	<key>API_KEY</key>
	<string>AIzaSyDmvrbtuU0sq0pqTSidyT9hV3SeCCr6NyI</string>
	<key>GCM_SENDER_ID</key>
	<string>762861489360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domski.chatGpt</string>
	<key>PROJECT_ID</key>
	<string>chat-app-bd8a6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-bd8a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762861489360:ios:912f6bb3b31384949fe2d5</string>
</dict>
</plist>